<% content_for :page_title do %>
  <%= Spree.t(:property_edit) %>
<% end %>


<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:back_to_properties_list), spree.admin_properties_path, :icon => 'arrow-left' %>
  </li>
  <li>
    <%= button_link_to Spree.t(:add_property), spree.admin_properties_path, { icon: 'plus', class: 'add-property-button' } %>
  </li>
<% end %>

<%= form_for [:admin, @property] do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'editform', :locals => { :f => f } %>
    <div class="filter-actions actions">
      <%= button Spree.t('actions.update'), 'refresh' %>
      <%= button_link_to Spree.t('actions.cancel'), admin_properties_path, :icon => 'remove' %>
    </div>
  </fieldset>

  <% end %>
  
  <ol class="sortable_tree"  >
    <%= build_server_tree @property, :namespace => 'admin' ,type: :sortable %>
  </ol>